<md-content layout-padding style="height: 600px;padding: 24px;">
    <md-white1frame class="md-whiteframe-z1" layout layout-align="center center" style="padding:24px;">
        <md-content>
            <div class="logo" layout="row" layout-align="center center">
                <div flex="15">
                    <img src="/img/logo.svg" alt="Logo">
                </div>
                <div flex="45">
                    <h1>UpdateCheck</h1>
                </div>
            </div>
            <h2>UpdateCheck is a site you can use for your application to check if they need an update.</h2>
        </md-content>
    </md-white1frame>
</md-content>